<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Code Project</title>
    <style>
        .title {
            padding: 20px;
            font-family: arial;
            display: block;
            text-align: center;
            background: #46c273;
            color: white;
        }
        p {font-family: arial;
          font-size: 14pt}
        .result {
            background: #4684c2;
            color: white;
            font-size: 16pt;
            padding: 10px;
        }
    </style>
</head>
<body>
    <h1 class="title">Random Code Project Generator</h1>
    <p>Your project to make is: </p>
    <p class="result">{{project}}</p>
</body>
</html>